.container{
  
    
    margin: 10px;
}

.cartao{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    box-shadow: inset 1px 1px 0.1em black;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;

}